/* Utilisateurs */
#usersSection {
    position: relative;
    max-width: 66%; /* Max width of 66% */
    width: 100%; /* Full width on smaller screens */
    margin: 0 auto; /* Center align */
}

/* Container for title and button */
#userTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

/* Bouton "Ajouter un Utilisateur" */
#addUserButton {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 30px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
}

#addUserButton:hover {
    background-color: #ff9f2e;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f0f0f0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

.sort-button {
    background: none;
    border: solid 1px black;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin-left: 5px;
    vertical-align: middle;
    background-color: #a3a3a3;

}

/* Formulaire */
#userFormSection {
    margin-top: 20px;
    max-width: 66%; /* Max width of 66% */
    width: 100%; /* Full width on smaller screens */
    margin: 0 auto; /* Center align */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    #usersSection {
        width: 100%; /* Full width on smaller screens */
    }

    #userTitle {
        flex-direction: column; /* Stack title and button */
        align-items: flex-start;
    }

    #addUserButton {
        margin-top: 10px; /* Add margin on top for spacing */
    }

    #userFormSection {
        width: 100%; /* Full width on smaller screens */
    }
}
