<div id="fruitDetails" style="display: none;">
    <main id="mainContainerFruit">
        <section id="containerLeftFruit">
            <img id="fruit_imagePreview" style="display: none;">
            <input type="file" id="fruit_imageUploadDownload" onchange="updateImagePreviewDownload('fruit')">
        </section>

        <section id="containerCenterFruit">
            <label for="fruit_name">Nom</label>
            <textarea id="fruit_name" oninput="adjustTextareaHeight(this)" rows="1"></textarea>

            <label for="fruit_latin_name">Nom Latin</label>
            <textarea id="fruit_latin_name" oninput="adjustTextareaHeight(this)" rows="1"></textarea>

            <label for="fruit_description">Description</label>
            <textarea id="fruit_description" oninput="adjustTextareaHeight(this)" rows="1"></textarea>
           
            <label for="fruit_sowing_tips">Conseils de Semis</label>
            <textarea id="fruit_sowing_tips" oninput="adjustTextareaHeight(this)" rows="1"></textarea>
        </section>

        <section id="containerRightFruit">
            <div id="fieldDivFruit">
                <div class="plantationFruitContainer">
                    <h3>Date de Plantation</h3>
                    <div id="dates_container_plantation_fruit" class="month-checkboxes"></div>
                </div>
                <div class="recolteFruitContainer">
                    <h3>Date de Récolte</h3>
                    <div id="dates_container_recolte_fruit" class="month-checkboxes"></div>
                </div>
            </div>
            <label for="fruit_soil_type">Type de Sol</label>
            <textarea id="fruit_soil_type" oninput="adjustTextareaHeight(this)" rows="1"></textarea>

            <label for="fruit_diseases">Maladies</label>
            <textarea id="fruit_diseases" oninput="adjustTextareaHeight(this)" rows="1"></textarea>

            <label for="fruit_watering_frequency">Fréquence d'Arrosage</label>
            <textarea id="fruit_watering_frequency" oninput="adjustTextareaHeight(this)" rows="1"></textarea>
        </section>
    </main>

    <section id="containerBottomFruit">
        <button id="saveFruitButton">Enregistrer</button>
        <button id="deleteFruitButton" onclick="deleteFruit()">Supprimer</button>

        <label for="fruit_created_at">Créé le</label>
        <textarea id="fruit_created_at" disabled rows="1"></textarea>

        <label for="fruit_updated_at">Mis à jour le</label>
        <textarea id="fruit_updated_at" disabled rows="1"></textarea>
    </section>
</div>