<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion</title>
    <link rel="stylesheet" href="/api/css/reset.css">
    <link rel="stylesheet" href="/api/css/comon.css">
    <link rel="stylesheet" href="/api/css/header.css">
    <link rel="stylesheet" href="/api/css/products.css">
    <link rel="stylesheet" href="/api/css/tuto.css">
    <link rel="stylesheet" href="/api/css/footer.css">
    <link rel="stylesheet" href="/api/css/user.css">
    <link rel="stylesheet" href="/api/css/connection.css">
    <script src="/api/js/connection.js" defer></script>
    <script src="/api/js/common.js" defer></script>
    <script src="/api/js/legumes.js" defer></script>
    <script src="/api/js/fruits.js" defer></script>
    <script src="/api/js/tuto.js" defer></script>
    <script src="/api/js/userManagement.js" defer></script>
    <script src="/api/js/image.js" defer></script>
</head>
<body>
    <header>
        <section id="logoHeader">
            <div id="logoDiv">
                <img src="/api/pictures/logo/logo.png" alt="logo O'jardin">
            </div>
            <div id="authenticatedContent" style="display: none;">
                <div id="welcomeMessage">
                    <h2>Bienvenue : <span id="username"></span></h2>
                    <button id="logoutButton">Se Déconnecter</button>
                </div>
            </div>
        </section>
    </header>
</body>
</html>