<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ojardin</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/comon.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/legumes.css">
    <link rel="stylesheet" href="/css/fruits.css">
    <link rel="stylesheet" href="/css/tuto.css">
    <script src="/js/common.js" defer></script>
    <script src="/js/legumes.js" defer></script>
    <script src="/js/fruits.js" defer></script>
    <script src="/js/tuto.js" defer></script>
    <script src="/js/userManagement.js" defer></script>
    <script src="/js/image.js" defer></script>
</head>

<body>
    <header>
        <section id="menuHeader">
            <button onclick="fetchProducts('Vegetable')">Légume</button>
            <section id="legumesSection" style="display: none;">
                <select id="legumes" onchange="handleProductSelection('Vegetable')">
                    <option value="">--Sélectionnez un légume--</option>
                    <option value="new">Ajouter un nouveau légume</option>
                </select>
            </section>

            <button onclick="fetchProducts('Fruit')">Fruit</button>
            <section id="fruitsSection" style="display: none;">
                <select id="fruits" onchange="handleProductSelection('Fruit')">
                    <option value="">--Sélectionnez un fruit--</option>
                    <option value="new">Ajouter un nouveau fruit</option>
                </select>
            </section>

            <button onclick="fetchTutorials()">Tutoriel</button>
            <section id="tutorialsSection">
                <label for="tutorialsSelect"></label>
                <select id="tutorialsSelect" onchange="handleTutorialSelection()">
                    <option value="">--Sélectionnez un tutoriel--</option>
                    <option value="new">Ajouter un nouveau tutoriel</option>
                </select>
            </section>

            <button onclick="fetchUsers()">Utilisateur</button>
        </section>
    </header>