<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ojardin</title>
    <link rel="stylesheet" href="/css/connection.css">
    <script src="/js/connection.js" defer></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/comon.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/tuto.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/common.js" defer></script>
    <script src="/js/legumes.js" defer></script>
    <script src="/js/fruits.js" defer></script>
    <script src="/js/tuto.js" defer></script>
    <script src="/js/userManagement.js" defer></script>
    <script src="/js/image.js" defer></script>
</head>

<body>