<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion</title>


    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/comon.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/tuto.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <script src="/js/connection.js" defer></script>
    <script src="/js/common.js" defer></script>
    <script src="/js/legumes.js" defer></script>
    <script src="/js/fruits.js" defer></script>
    <script src="/js/tuto.js" defer></script>
    <script src="/js/userManagement.js" defer></script>
    <script src="/js/image.js" defer></script>
</head>

<body>
    <header>
        <section id="logoHeader">
            <img src="/pictures/logo/logo.png" alt="logo O'jardin">
            <div id="authenticatedContent" style="display: none;">
                <div id="userInfo">
                    <h2>Informations Utilisateur</h2>
                    <p><strong>Prénom:</strong> <span id="userFirstname"></span></p>
                    <p><strong>Nom:</strong> <span id="userLastname"></span></p>
                    <p><strong>Email:</strong> <span id="userEmail"></span></p>
                    <p><strong>Administrateur:</strong> <span id="userIsAdmin"></span></p>
                    <button id="logoutButton">Se Déconnecter</button>
                </div>
            </div>
        </section>
    </div>
    </header>