<div id="legumeDetails" style="display: none;">
    <main id="mainContainerVegetable">
        <section id="containerLeftVegetable">
            <img id="legume_imagePreview" style="display: none;">
            <input type="file" id="legume_imageUploadDownload" onchange="updateImagePreviewDownload('legume')">
            
        </section>

        <section id="containerCenterVegetable">
            <label for="legume_name">Nom</label>
            <input type="text" id="legume_name">

            <label for="legume_latin_name">Nom Latin</label>
            <input type="text" id="legume_latin_name">

            <label for="legume_description">Description</label>
            <textarea id="legume_description"></textarea>

            <label for="legume_sowing_tips">Conseils de Semis</label>
            <textarea id="legume_sowing_tips"></textarea>
        </section>

        <section id="containerRightVegetable">
            <div id="fieldDivLegume">
                <div class="plantationLegumeContainer">
                    <h3>Date de Plantation</h3>
                    <div id="dates_container_plantation_legume" class="month-checkboxes"></div>
                </div>
                <div class="recolteLegumeContainer">
                    <h3>Date de Récolte</h3>
                    <div id="dates_container_recolte_legume" class="month-checkboxes"></div>
                </div>
            </div>
            <label for="legume_soil_type">Type de Sol</label>
            <input type="text" id="legume_soil_type">

            <label for="legume_diseases">Maladies</label>
            <input type="text" id="legume_diseases">

            <label for="legume_watering_frequency">Fréquence d'Arrosage</label>
            <input type="text" id="legume_watering_frequency">
        </section>
    </main>

    <section id="containerBottomVegetable">
        <button id="saveLegumeButton">Enregistrer</button>
        <button id="deleteLegumeButton" onclick="deleteLegume()">Supprimer</button>

        <label for="legume_created_at">Créé le</label>
        <input type="text" id="legume_created_at" disabled>

        <label for="legume_updated_at">Mis à jour le</label>
        <input type="text" id="legume_updated_at" disabled>
    </section>
</div>
