<main>
<div id="menuContenair">
    <section id="menuHeader">
        <button id="vegetableButton" onclick="fetchProducts('Vegetable')">Légume</button>
        <section id="legumesSection" style="display: none;">
            <select id="legumes" onchange="handleProductSelection('Vegetable')" style="display: none;">
                <option value="">--Sélectionnez un légume--</option>
                <option value="new">Ajouter un nouveau légume</option>
            </select>
        </section>

        <button id="fruitButton" onclick="fetchProducts('Fruit')">Fruit</button>
        <section id="fruitsSection" style="display: none;">
            <select id="fruits" onchange="handleProductSelection('Fruit')" style="display: none;">
                <option value="">--Sélectionnez un fruit--</option>
                <option value="new">Ajouter un nouveau fruit</option>
            </select>
        </section>

        <button id="tutorialButton" onclick="fetchTutorials()">Tutoriel</button>
        <section id="tutorialsSection" style="display: none;">
            <select id="tutorialsSelect" onchange="handleTutorialSelection()" style="display: none;">
                <option value="">--Sélectionnez un tutoriel--</option>
                <option value="new">Ajouter un nouveau tutoriel</option>
            </select>
        </section>

        <button onclick="fetchUsers()">Utilisateur</button>
    </section>
</div>