<div id="tutorialsSection" style="display:none;">
    <h1>Tutoriels</h1>
    <select id="tutorialsSelect" onchange="handleTutorialSelection()">
        <option value="">--Sélectionnez un tutoriel--</option>
        <option value="new">Ajouter un nouveau tutoriel</option>
    </select>
</div>
<div id="tutorialDetails" style="display:none;">
    <h2>Détails du Tutoriel</h2>
    <form>
        <label for="tutorialTitle">Titre:</label>
        <input type="text" id="tutorialTitle">
        <label for="tutorialArticle">Article:</label>
        <textarea id="tutorialArticle"></textarea>
        <label for="tutorialPicture">Image URL:</label>
        <input type="text" id="tutorialPicture" oninput="updateImagePreviewTuto()">
        <img id="imagePreviewTuto" src="" alt="Prévisualisation de l'image">
        <label for="tutorialTheme">Thème:</label>
        <input type="text" id="tutorialTheme">
        <label for="tutorialCreatedAt">Créé le:</label>
        <input type="text" id="tutorialCreatedAt" disabled>
        <label for="tutorialUpdatedAt">Mis à jour le:</label>
        <input type="text" id="tutorialUpdatedAt" disabled>
        <button type="button" id="saveTutorialButton" onclick="saveTutorial()">Enregistrer</button>
        <button type="button" onclick="deleteTutorial()">Supprimer</button>
    </form>
</div>