<%- include('partials/header') %>


<main>
  <h1>Sélectionnez des Fruits ou Légumes</h1>

  <section>
      <label for="category">Choisissez une catégorie :</label>
      <select id="category" onchange="fetchProducts()">
          <option value="">--Veuillez choisir une option--</option>
          <option value="Fruit">Fruit</option>
          <option value="Vegetable">Légume</option>
      </select>
  </section>

  <section>
      <h2>Produits</h2>
      <label for="products">Choisissez un produit :</label>
      <select id="products" onchange="handleProductSelection()">
          <option value="">--Sélectionnez un produit--</option>
          <option value="new">Ajouter un nouveau produit</option>
      </select>
  </section>

  <section>
      <h2>Détails du Produit</h2>
      <div id="productDetails">
          <label>Nom : <input type="text" id="name" required></label><br>
          <label>Nom Latin : <input type="text" id="latin_name"></label><br>
          <label>Image : <input type="text" id="picture" oninput="updateImagePreview()"></label><br>
          <img id="imagePreview" src="" alt="Prévisualisation de l'image"><br>

          <fieldset>
              <legend>Date de Plantation :</legend>
              <div id="plantation_date" class="month-checkboxes">
                  <label><input type="checkbox" value="1"> Janvier</label>
                  <label><input type="checkbox" value="2"> Février</label>
                  <label><input type="checkbox" value="3"> Mars</label>
                  <label><input type="checkbox" value="4"> Avril</label>
                  <label><input type="checkbox" value="5"> Mai</label>
                  <label><input type="checkbox" value="6"> Juin</label>
                  <label><input type="checkbox" value="7"> Juillet</label>
                  <label><input type="checkbox" value="8"> Août</label>
                  <label><input type="checkbox" value="9"> Septembre</label>
                  <label><input type="checkbox" value="10"> Octobre</label>
                  <label><input type="checkbox" value="11"> Novembre</label>
                  <label><input type="checkbox" value="12"> Décembre</label>
              </div>
          </fieldset>

          <fieldset>
              <legend>Date de Récolte :</legend>
              <div id="harvest_date" class="month-checkboxes">
                  <label><input type="checkbox" value="1"> Janvier</label>
                  <label><input type="checkbox" value="2"> Février</label>
                  <label><input type="checkbox" value="3"> Mars</label>
                  <label><input type="checkbox" value="4"> Avril</label>
                  <label><input type="checkbox" value="5"> Mai</label>
                  <label><input type="checkbox" value="6"> Juin</label>
                  <label><input type="checkbox" value="7"> Juillet</label>
                  <label><input type="checkbox" value="8"> Août</label>
                  <label><input type="checkbox" value="9"> Septembre</label>
                  <label><input type="checkbox" value="10"> Octobre</label>
                  <label><input type="checkbox" value="11"> Novembre</label>
                  <label><input type="checkbox" value="12"> Décembre</label>
              </div>
          </fieldset>

          <label>Type de Sol : <input type="text" id="soil_type"></label><br>
          <label>Maladies : <input type="text" id="diseases"></label><br>
          <label>Fréquence d'Arrosage : <input type="text" id="watering_frequency"></label><br>
          <label>Description : <input type="text" id="description"></label><br>
          <label>Conseils de Semis : <input type="text" id="sowing_tips"></label><br>

          <button id="saveButton" onclick="updateProduct()">Enregistrer les Modifications</button>
          <button onclick="deleteProduct()">Supprimer le Produit</button>
      </div>
  </section>
</main>



<%- include('partials/footer') %>
