<%- include('partials/header') %>

<main>


  <section>
      <label><h2>Choisissez une catégorie :</h2></label>
      <button onclick="fetchProducts('Fruit')">Fruit</button>
      <button onclick="fetchProducts('Vegetable')">Légume</button>
      <button onclick="fetchTutorials()">Tutoriel</button>
  </section>

  <section id="productsSection" style="display: none;">
      <h3>Produits</h3>
      <label for="products">Choisissez un produit :</label>
      <select id="products" onchange="handleProductSelection()">
          <option value="">--Sélectionnez un produit--</option>
          <option value="new">Ajouter un nouveau produit</option>
      </select>
  </section>

  <section id="productDetails" style="display: none;">
      <h3>Détails du Produit</h3>
      <div>
          <label>Nom : <input type="text" id="name" required></label><br>
          <label>Nom Latin : <input type="text" id="latin_name"></label><br>
          <label>Image : <input type="text" id="picture" oninput="updateImagePreview()"></label><br>
          <img id="imagePreview" src="" alt="Prévisualisation de l'image"><br>

          <fieldset>
              <legend>Date de Plantation :</legend>
              <div id="plantation_date" class="month-checkboxes">
                  <label><input type="checkbox" value="1"> Janvier</label>
                  <label><input type="checkbox" value="2"> Février</label>
                  <label><input type="checkbox" value="3"> Mars</label>
                  <label><input type="checkbox" value="4"> Avril</label>
                  <label><input type="checkbox" value="5"> Mai</label>
                  <label><input type="checkbox" value="6"> Juin</label>
                  <label><input type="checkbox" value="7"> Juillet</label>
                  <label><input type="checkbox" value="8"> Août</label>
                  <label><input type="checkbox" value="9"> Septembre</label>
                  <label><input type="checkbox" value="10"> Octobre</label>
                  <label><input type="checkbox" value="11"> Novembre</label>
                  <label><input type="checkbox" value="12"> Décembre</label>
              </div>
          </fieldset>

          <fieldset>
              <legend>Date de Récolte :</legend>
              <div id="harvest_date" class="month-checkboxes">
                  <label><input type="checkbox" value="1"> Janvier</label>
                  <label><input type="checkbox" value="2"> Février</label>
                  <label><input type="checkbox" value="3"> Mars</label>
                  <label><input type="checkbox" value="4"> Avril</label>
                  <label><input type="checkbox" value="5"> Mai</label>
                  <label><input type="checkbox" value="6"> Juin</label>
                  <label><input type="checkbox" value="7"> Juillet</label>
                  <label><input type="checkbox" value="8"> Août</label>
                  <label><input type="checkbox" value="9"> Septembre</label>
                  <label><input type="checkbox" value="10"> Octobre</label>
                  <label><input type="checkbox" value="11"> Novembre</label>
                  <label><input type="checkbox" value="12"> Décembre</label>
              </div>
          </fieldset>
          <label>Type de Sol : 
            <textarea id="soil_type" rows="4" cols="50"></textarea>
          </label><br>
          <label>Maladies : 
            <textarea id="diseases" rows="4" cols="50"></textarea>
          </label><br>
          <label>Fréquence d'Arrosage : 
            <textarea id="watering_frequency" rows="4" cols="50"></textarea>
          </label><br>
          <label>Description : 
            <textarea id="description" rows="4" cols="50"></textarea>
          </label><br>
          <label>Conseils de Semis : 
            <textarea id="sowing_tips" rows="4" cols="50"></textarea>
          </label><br>

          <button id="saveButton" onclick="updateProduct()">Enregistrer les Modifications</button>
          
          <button onclick="deleteProduct()">Supprimer le Produit</button>
      </div>
  </section>
  <section id="tutorialsSection" style="display: none;">
    <h2>Tutoriels</h2>
    <label for="tutorials">Choisissez un tutoriel :</label>
    <select id="tutorials" onchange="handleTutorialSelection()">
      <option value="">--Sélectionnez un tutoriel--</option>
      <option value="new">Ajouter un nouveau tutoriel</option>
    </select>
  </section>

  <section id="tutorialDetails" style="display: none;">
    <h2>Détails du Tutoriel</h2>
    <div>
      <label>Titre : <input type="text" id="title" required></label><br>
      <label>Article : <textarea id="article" required></textarea></label><br>
      <label>Image : <input type="text" id="picture" oninput="updateImagePreview()"></label><br>
      <img id="imagePreview" src="" alt="Prévisualisation de l'image"><br>
      <label>Thème : <input type="text" id="theme" required></label><br>
      <button id="saveButton" onclick="saveTutorial()">Enregistrer le Tutoriel</button>
      <button onclick="deleteTutorial()">Supprimer le Tutoriel</button>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
